<h1>Fale Comigo</h1>
<p>
Quero de ajudar você no que precisa, porém a vida é corrida e talvez eu não responda prontamente.
</p>
<p>
Caso você precise urgentemente conversar comigo, use o site parente, <%= link_to "neste link", "https://question.com.br/contato/", rel:"nofollow "%>.
</p>