<h1>Sobre</h1>
<p>
O Site Direito Certo foi desenvolvido para ajudar você a encontrar os melhores livros de direito para:
</p>

<ul>
<li>Passar na prova da OAB</li>
<li>Concursos públicos</li>
<li>A graduação em direito/relações internacionais</li>
<li>Mestrados e Doutorados</li>
</ul>

<p>
Quando estava na faculdade vi como é difícil encontrar os melhores livros e mais atualizados.
</p>

<p>
O Site Direito Certo surge com esse objetivo:
</p>

<p>
Tirar de você a preocupação de você descobrir qual livro deve escolher para que você possa se concentrar inteiramente aos estudos.
</p>

<p>
Qualquer pergunta que tiver você pode entrar em contato comigo aqui:
</p>

<p>
<%= link_to "Me mande uma mensagem", contato_path %>
</p>

<p>
Atenciosamente:
</p>

<p style="font-family:'Herr Von Muellerhoff', cursive; font-size: 4rem">
<link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">
Celso de Sá
</p>