<h1>Termos de Uso</h1>

<p>
<strong>
Atualizado em: 21/08/2019
</strong>
</p>

<p>
O Direito Certo tem por missão ajudar você a decidir qual é o melhor livro de direito (administrativo, constitucional, tributário, penal, etc).
</p>
<p>
Convidamos você a tirar proveito do conteúdo postado e de compartilhá-lo com outras pessoas, que poderiam se interessar, por direcioná-las a este site. Mas, por favor, pedimos que não você reproduza o conteúdo dele por meio impresso ou eletrônico (em outros sites ou aplicativos).
</p>
<p>
O conteúdo do Direito Certo é redigido com acurácia e está protegido pela lei da propriedade intelectual (lei nº 9.610, de 19 de Fevereiro de 1998). Assim por acessar o Direito Certo você concorda inteiramente com o regulamento desta lei e com as condições expostas a seguir. Se você não concorda com esta lei e do que é descrito aqui, seja completamente ou em parte, não acesse o Direito Certo.
</p>
<p>
<strong>Você pode:</strong>
</p>
<ul>
<li>Visualizar os textos, imagens e vídeos deste site.</li>
<li>Compartilhar links com pessoas interessadas.</li>
</ul>
<p>
<strong>Você não pode:</strong>
</p>
<ul>
<li>Postar, distribuir ou reproduzir por meio impresso e eletrônico o conteúdo publicado no Direito Certo.</li>
<li>Duplicar, copiar, derivar trabalho ou usar de qualquer outro modo o conteúdo publicado neste site.</li>
</ul>
<p>
Se você violar qualquer uma destas condições acima, o Direito Certo se reserva no direito de tomar as medidas legais necessárias.
</p>
<p>
Estes termos entrarão em vigor no momento em que forem publicados no site. O Direito Certo elege o foro de Joinville, em Santa Catarina, Brasil, para resolver qualquer disputa relacionada a estes termos.
</p>
<p>
Qualquer atualização a estes termos poderão ser encontrados nesta página. Estes termos e a lei de propriedade intelectual resumem o acordo legal entre o Direito Certo e você. Qualquer acordo anterior relacionado ao uso deste site está anulado.
</p>