<h1>Editing Book</h1>

<<<<<<< HEAD
<%= render 'form', post: @post, book: @book %>
=======
<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
>>>>>>> a0fb20c7e4bcbcd39e7747e1b4a45cd39c39c446
