<p id="notice"><%= notice %></p>

<h1>Books</h1>
<% if @admin %>
  <%= link_to 'New Book', new_post_book_path, class: "ui button" %>
<% end %>

<% @books = @post.books %>
<%= render 'books', books: @books %>
